*{
    margin: 0;
    padding: 0;
    box-sizing: boder-box;
    font-family:"Poppins", sans-serif;

}
body{
   background: #080808;
   color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(portfolio_image2.avif);
    background-size: cover;
    background-position: center;

    background-attachment: fixed;
 
  background-repeat: no-repeat;
  
    
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px;


}
nav ul li a{
    color: #ffffff;
    text-decoration: none;
    position: relative;
    
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: orangered;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;


}
nav ul li a:hover::after{
    width: 100%;

}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;

}


.header-text h1 span{
    font-size: 60px;
    margin-top: 20px;
    color: red;

}
#about{
    padding: 80px 0;
    color: #ababab;

} 
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col1{
    flex-basis: 35%;
}
.col1 img{
    width: 100%;
    border-radius: 15px;
}
.col2{
    flex-basis: 60%;

}
.subtitle{
    font-size: 60px;
    font-weight: 300;
    color: #ffffff;
}
.tabtitle{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;
    position: relative;
    
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background:orangered;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;


}
.tab-links.active-link::after{
    width: 50%;
}
.tab-content ul li span{
    color: rgb(194, 35, 61);
    font-size: 14px;

}
.tab-content{
    display: none;
}
.tab-content.active-tab{
    display: block;
}
.contactleft{
    flex-basis: 35%;

}
.contactright{
    flex-basis: 60%;

}
.contactleft p{
    margin-top: 10px;

}
.contactleft.p i{
    color: orangered;
    margin-right: 15px;
    font-size: 35px;

}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 20px;
    display: inline-block;
    padding: auto;
    

}
.social-icons p{
   
    margin-left: 30px;
}
.social-icons i{
    margin-bottom: 3%;
    margin-left: -3%;
}
.btn.btn2{
    display: inline-block;
    background: orangered;
    width: 100px;
    margin-right: 15px;
    font-size: 10px;
}
.contactright input{
    width: 40%;
    height: 30%;
    font-size: 25px;
    margin-top: 100px;
    margin-left: 300px;
    background: orangered;
    color: white;
    cursor: pointer;
}




























































}
#header{
    width: 100%;
    height: 100vh;
    background: url(portfolio_image2.avif) no-repeat;

}

